body {
  background-color: #ededed;
}

/* Mobile */
  /* Navbar */
  .navbar-brand {
      font-family: 'Fira Sans';
      font-size: 25px;
      font-weight: 700;
  }

  .navbar-brand span {
    color: #06a95b;
  }

  .nav-link {
    text-align: center;
  }
  /* End of Navbar */

  /* Jumbotron */
  .jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
  }

  .jumbotron .container {
    position: relative;
    z-index: 1;
  }

  .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.3));
    position: absolute;
    bottom: 0;
  }

  .jumbotron .display-4 {
    color: #ededed;
    margin-top: 140px;
    font-weight: 200;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .jumbotron .display-4 span {
    font-weight: 500;
  }
  /* End of Jumbotron */

  /* Info Panel */
  .info-panel {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: #ededed;
    padding: 30px;
  }

  .info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  .info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
  }

  .info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
  }
  /* End of Info Panel */

  /* Fashion */
  .fashion {
    margin-top: 40px;
  }

  .card {
    border: 0;
    border-radius: 12px;
    margin-top: 10px;
  }

  .card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card h5 {
    font-weight: bold;
  }
  /* End of Fashion */

  /* Utility */
  .btn-primary {
    border: none;
    border-radius: 10px;
    background-color: #06a95b;
  }

  .btn-primary:hover {
    background-color: #079ddc;
  }
  /* End of Utility */
/* End of Mobile */

/* Desktop */
@media (min-width: 992px) {
  /* Navbar */
  .nav-link {
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #06a95b;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  /* End of Navbar */

  /* Jumbotron */
  .jumbotron {
    height: 640px;
  }

  .jumbotron .display-4 {
    margin-top: 125px;
    font-size: 62px;
  }
  /* End of Jumbotron */

  /* Fashion */
  .card-text {
    height: 80px;
    overflow: auto;
  }
  /* End of Fashion */

  /* Wave */
  .wave {
    margin-top: -165px;
  }
  /* End of Wave */
}
/* End of Desktop */